/* *
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* :root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: hsl(266, 78%, 58%);
  --ifm-color-primary-dark: hsl(266, 78%, 58%);
  --ifm-color-primary-darker: hsl(266, 78%, 58%);
  --ifm-color-primary-darkest: hsl(266, 78%, 58%);
  --ifm-color-primary-light: hsl(266, 78%, 58%);
  --ifm-color-primary-lighter: hsl(266, 78%, 58%);
  --ifm-color-primary-lightest: hsl(266, 78%, 58%);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] main {
    background: radial-gradient(circle at bottom, rgba(137,64,231,0.2) 0%, var(--ifm-background-color) 40%);
}

html[data-theme='light'] main {
    background: radial-gradient(circle at bottom, rgba(137,64,231,0.2) 0%, var(--ifm-background-color) 40%);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.theme-doc-sidebar-menu {
  font-size: 14px;
}

html[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

html[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

html[data-theme='dark'] .navbar__logo {
  content: url(/img/logo-dark.svg);
}

html[data-theme='light'] .navbar__logo {
  content: url(/img/logo-light.svg);
}

.theme-back-to-top-button {
  display: none;
}

.attributes__container {
    display: grid;
    justify-content: center;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, 290px);
}

.attributes__container-title {
    text-align: center;
    font-weight: 500;
}

.cards-display {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, 250px)
}

.cards-center {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.cards-center {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 250px;
    height: 225px;
    position: relative;
    overflow: hidden;

    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
}

.card:hover {
    text-decoration: none;
    cursor: pointer;
}

.card:hover .card__content--animation {
    top: 0;
    transition: all 0.35s cubic-bezier(.1,.72,.4,.97);
}

.card:hover .card__img--animation {
    transform: translateY(-100%);
    transition: all 0.35s cubic-bezier(.1,.72,.4,.97);
}


.card__img {
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;

}

.card__img--animation {
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(.1,.72,.4,.97);
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin: 20px;

    position: absolute;
    top: 70%;
    left: 0;
}

.card__content--animation {
  transform: translateY(0);
  transition: all 0.35s 0.35s cubic-bezier(.1,.72,.4,.97);
  will-change: bottom, background-color, transform, padding;
  z-index: 1;
}

.card__title {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.card__description {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

.header__container {
    position: relative;
    height: 15vh;
}

.header__text {
    position: relative;
    top: 50%;
    padding-left: 25px;
    z-index: 10;
    transform: translateY(-50%);
}

.header__image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    object-fit: cover;

    width: 100%;
    height: 100%;
}

.home-page-heading {
  width: 300px;
}

.title-cards-center {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.title-card {
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  position: relative;
  z-index: 1;
}

.link-cards-display {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 150px);
}

.title-card-info {
  background: #181818;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: .7rem;
  padding: 10px;
}

.title-card .content {
  font-weight: bold;
  letter-spacing: .1em;
}

.title-card .title {
  font-weight: 900;
  letter-spacing: .1em;
}

.users-card {
  background: linear-gradient(to left, #A9DC76 0%, #FC9867 100%);
}

.docs-card {
  background: linear-gradient(to left, #FC9867 0%, #FF6188 100%);
}

.app-cards-display {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 250px);
}

.app-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: #e8e8e8;
  padding: 20px 24px;
  line-height: 1.5;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.evm-app-card-container {
  width: 250px;
  height: 350px;
  position: relative;
  border-radius: 10px;
}

.evm-app-card-container::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #a9dc76 0%, #3193CD  100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.zero-app-card-container {
  width: 350px;
  height: 450px;
  position: relative;
  border-radius: 10px;
}

.zero-app-card-container::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #913AC4 0%, #3193CD 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.app-card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.app-card .evm-app-img-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #a9dc76 0%, #3193CD 100%);
  transition: scale 0.6s, rotate 0.6s, filter 1s;
}

.app-card .zero-app-img-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #913AC4 0%, #3193CD 100%);
  transition: scale 0.6s, rotate 0.6s, filter 1s;
}

.app-card .app-content .description {
  max-height: calc(100% - 70px);
  overflow-y: auto;
}

.app-card .evm-app-img-content img {
  width: 75px;
  height: 75px;
  fill: #212121;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.app-card .zero-app-img-content img {
  width: 75px;
  height: 75px;
  fill: #212121;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.app-card .app-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: #e8e8e8;
  padding: 20px 24px;
  line-height: 1.5;

  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.app-card .app-content .app-heading {
  font-size: 32px;
  font-weight: 700;
}

.app-card:hover .app-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.app-card:hover .evm-app-img-content {
  scale: 2.5;
  rotate: 30deg;
  filter: blur(35px);
  background: linear-gradient(-45deg, #76bc30 0%, #143b52  70%);
}

.app-card:hover .evm-app-img-content img {
  fill: transparent;
}

.app-card .evm-app-img-content .corner-image {
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 30px;
  width: auto;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.app-card:hover .evm-app-img-content .corner-image {
  opacity: 0;
}

.app-card:hover .zero-app-img-content {
  scale: 2.5;
  rotate: 30deg;
  filter: blur(35px);
  background: linear-gradient(-45deg, #7b31a7 0%, #143b52 100%);
}

.app-card:hover .zero-app-img-content img {
  fill: transparent;
}

.app-card .zero-app-img-content .corner-image {
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 30px;
  width: auto;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.app-card:hover .zero-app-img-content .corner-image {
  opacity: 0;
}

.card-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

.app-icons {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: left;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.app-card:hover .app-icons {
  opacity: 1;
}

.app-card ::-webkit-scrollbar {
  width: 8px;
}

.app-card ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.app-card ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.app-card ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a[href=""] {
  display: none;
}

.link-card {
  --background: linear-gradient(-45deg, #913AC4 0%, #3193CD 100%);
  width: 150px;
  height: 150px;
  padding: 4px;
  border-radius: 1rem;
  overflow: visible;
  background: #f7ba2b;
  background: var(--background);
  position: relative;
  z-index: 1;
 }
 
 .link-card::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(25px);
  background: var(--background);
  transition: opacity .5s;
 }
 
.link-card-info {
  --color: #181818;
  background: var(--color);
  color: white;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: .7rem;
 }
 
.link-card-info img {
   width: 75px;
   height: 75px;
   margin: auto;
 }
 
.link-card-info p{
   margin: auto;
 }
 
.link-card .link-card-title {
  font-weight: bold;
  letter-spacing: .1em;
 }
 
.three-pics-display {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 300px);
}

.two-pics-display {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 300px);
}

.wallet-container {
  display: flex;
  justify-content: center;
  gap: 75px; /* Adjust the space between the two divs */
}

.clickable-a {
  text-align: center; /* Center the text under the image */
  cursor: pointer;
}

.clickable-a div {
  font-size: 24px; /* Adjust this value as needed to match your design */
  font-weight: bold; /* Bold text */
  font-family: 'Arial', sans-serif; /* Common sans-serif font */
  margin-top: 10px; /* Space between the image and the text */
}

.clickable-a img {
  width: 350px; /* Adjust the width of the images */
  height: auto;
}

/* Ensure links do not have the default underline and color */
.clickable-a a {
  text-decoration: none;
  color: inherit; /* This makes the text color inherit from the parent element */
}

@media (max-width: 750px) {
  .clickable-div div {
    font-size: 18px; /* Smaller font size for mobile */
  }

  .mobile-scalable {
    width: 95%;
  }

  iframe {
    width: 95%;
  }

  img {
    width: 95%;
  }
}